<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_Name" value="8080-springboot-pro" />
	//这里为此项目的日志文件夹名
	<property name="log.dir" value="D:\\temp\\files"></property>
	//这里为日志的存储地址
	<timestamp key="bySecond" datePattern="yyyyMMdd HHmmss" />
	<contextName>${APP_Name}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<file>MyLog.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<!-- 按日期和大小区分的滚动日志 -->
	<appender name="FILE_INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{85} -
				%msg%n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/${APP_Name}/info/info.%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="com.youyisky" level="TRACE" />


	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_INFO" />
	</root>
</configuration>